.todo{
    height: 100%;
    background: linear-gradient(-90deg, #69b7eb, #b3dbd3, #f4d6db);

}
.box{
    position: relative;
    width: 30%;
    height: 500px;
    margin: auto;
    padding: 30px;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
    top: 20%;
}
.header{border-bottom: 1px solid #fff;}
.result{
    margin-top: 20px;
    height: 65%;
    overflow-y: auto;
}
.result .ant-card-body{padding: 0;}
::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
background: #CFD8DC; 
}